body {
    margin: 0;
    font-family: Arial;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: #0a3d62;
    color: white;
}

.menu-bar {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    background: #232f3e;
    color: white;
    padding: 10px;
    font-size: 14px;
}

.menu-bar div {
    cursor: pointer;
}

.logo {
    width: 90px
}

.logo img {
    width: 60px;
    height: auto;
    display: block;
}

.location {
    margin-left: 15px;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.search-bar input {
    flex: 1;
    height: 45px;
    display: flex;
    padding: 10px;
    width: 100%;
    border: none;
    outline: none;
    flex: 1;
}

.nav-search {
    display: flex;
    background: papayawhip;
    width: 750px;
    height: 60px;
}

.search-icon {
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-header {
    display: flex;
    flex: 1;
    gap: 20px;
    background: #232f3e;
    color: white;
    padding: 10px;
}

.user,.home,.language,.cart {
    justify-content: space-between;
    background: none;
    border: none;
    cursor: pointer;
}


.video-section {
    background: #f3f3f3;
    padding: 10px;
    text-align: center;
}

.video-section h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.video-wrapper video {
    width: 100%;
    height: auto;
    display: block;
}

.video-wrapper  {
    width: 100%;
    max-width: 100%
}

@media(max-width: 600px) {
    .video-section h2 {
        font-size: 20px;
    }
}


.product {
    padding: 10px;
    text-align: center ; 
}

.product-box h2{
    margin-bottom: 20px;
}

.product-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 15px;
}

.product-box {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
}

.product-box {
    width: 100%;
    max-width: 100%;
    padding: 10px;
    margin: 0 auto;
    



.product-box img {
    width: 100%;
    height: 280px;
    object-fit: cover;
}

@media (max-width: 768px) {
        .product-box {
        height: 250px;
    }

    

.btn {
 display: inline-block;
 margin-top: 10px; 
 pading: 8px 15px;   
 background: orange;
 color: white;
border-radius: 5px;
text-decoration: none;
text-align: center
}

.btn:hover {
    background darkorange; 
}

.WhatsApp-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #25D366;
    color: white;
    font-size: 22px;
    padding: 12px 15px;
    border-radius: 50%;
    text-decoration: none;
}

.certificate-section {
    text-align: center;
    padding: 50px;
    background: #f3f3f3;
}

.certificate-container {
    display: flex;
    justify-content:space-between;
    align-items: center;
}

.certificate-img {
    width: 250px;
    cursor: pointer;
}


.banner {
    position: relative;
}

.banner img {
    width: 100%;
    height: 100%px;
    object-fit: cover;
}

.banner-text h1 {
    font-size: 40px;
    margin: 0;
}

.banner-text button {
    margin-top: 10px;
    padding: 10px 20px;
    background: orange;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

